.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input {
  height: 3.4rem;
  padding: 2rem 1.2rem;
  font-size: 1.8rem;
  margin-top: 2rem;
  color: rgb(58, 57, 57);
  background-color: #fff;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
}
.addBtn{
  height: 4rem;
  width: 4rem;
  font-size: 3rem;
  margin-top: 2rem;
  color: rgb(58, 57, 57);
  background-color: #fff;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  text-align: center;
  margin: auto;
}
.checkbox{
  height: 2rem;
  width: 2rem;
}
.outer {
  margin-top: 3rem;
  text-align: center;
}

.inner {
  margin-bottom: 0.7rem;
  background: #fff;
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  background: rgb(46, 44, 44);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: auto;
}

.outer .inner h3 {
  padding-left: 1rem;
  font-size: 1.6rem;
  color: #fff;
}
.remove{
  font-size: 1.2rem;
  color:rgb(46, 44, 44);
  background-color: rgb(157, 151, 151);
  border-radius: 0.6rem;
}
.btn{
  font-size: 1.8rem;
  margin-top: 2rem;
  color: rgb(58, 57, 57);
  background-color: #fff;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  text-align: center;
  margin: auto;
}
